@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Regular.woff2") format("woff2"),
    url("../fonts/Lato-Regular.woff") format("woff"),
    url("../fonts/Lato-Regular.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lexend";
  src: url("../fonts/Lexend-Regular.woff2") format("woff2"),
    url("../fonts/Lexend-Regular.woff") format("woff"),
    url("../fonts/Lexend-Regular.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* --------------------- */

* {
  margin: 0;
  padding: 0;
  color: black;
  font-family: "Lato", Arial, Helvetica, sans-serif;
  font-size: 20px;
  box-sizing: border-box;
  text-decoration: none;
}

:root {
  --breakpoint: 1200px;
  --color-clar: rgb(245, 245, 245);
  --color-secundari: #a46d3c;
  --color-secundari50x100: hsla(28, 46%, 44%, 0.5);
  --font-titols: "Lexend", Arial, Helvetica, sans-serif;
}

/* Ayuda a definir estructura y distribución de los elementos, comentar cuando ya no sea necesario */
div {
  border: 2px solid black;
}
/* --------------------- */

body {
  background-color: var(--color-clar);
}

/* ------Mi codigo------ */

header {
  display: grid;
  grid-template-columns: 1fr 4fr;
  img {
    width: 15vw;
  }
  h1 {
    font-family: var(--font-titols);
    font-weight: lighter;
    font-size: 4vw;
    text-shadow: 3px 3px 5px black;
  }
  span {
    font-family: var(--font-titols);
    font-weight: lighter;
    font-size: 4vw;
    color: var(--color-secundari);
  }
  div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  div div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    img {
      width: 4vw;
    }
  }
}

hr {
  height: 3px;
  background-color: var(--color-secundari);
}

nav {
  position: sticky;
  top: 0px;
  background-color: var(--color-clar);
  box-shadow: 10px 5px 5px black;
  ul {
    display: flex;
    justify-content: space-between;
  }
  li {
    list-style: none;
    padding: 1rem 0;
  }
  a {
    text-decoration: none;
    font-size: clamp(0.7rem, 1vw + 0.7rem, 1.5rem);
    color: inherit;
    &:hover {
      border-top: 3px solid var(--color-secundari50x100);
      color: var(--color-secundari50x100);
    }
  }
}

.contenedor {
  padding: 4vw 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 15rem), 1fr));
  column-gap: 2vw;
  row-gap: 3vw;
  @media (max-width: 1201px) {
    padding: 4vw;
  }
  img {
    width: 100%;
  }
}

.elemento {
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    font-family: var(--font-titols);
    font-size: clamp(1rem, 2vw + 1rem, 2rem);
    text-align: center;
    color: var(--color-secundari);
    padding: 2vw 0;
  }
  p {
    padding: 2vw 0;
  }
  button {
    background-color: var(--color-secundari);
    width: 100px;
    height: 60px;
  }
  a {
    text-decoration: none;
    color: var(--color-clar);
  }
}

.subnav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer {
  background-color: var(--color-secundari);
  padding: 3vw 0;
  div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  div > div {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }
  img {
    height: 100px;
    border-radius: 10px;
    margin: 1vw 0;
  }
}

/* --------------------- */

.breakpoint {
  max-width: var(--breakpoint);
  margin: 0 auto;
}
